{% extends "app/views/layouts/hmlr-signed-in.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
Assignments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="/annotators/assignments/QR84291/entry-3/extent-1" method="post">

  <h1 class="govuk-heading-l">QR84291</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Extent 6 of 6</h2>
      {% include "app/includes/extents/QR84291/inc_QR84291-blue-3.html" %}
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Entry 2 of 4</h2>

      {% include "app/includes/entries/QR84291/inc_QR84291-entry-2.html" %}

      {% include "app/includes/annotators/entry-extent-match-radios.html" %}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">

      <a class="govuk-link" href="javascript:window.history.back()">Back</a>

      {{ govukButton({
      text: "Next entry",
      position: absolute,
      bottom: 0,
      right: 0
      }) }}

    </div>

    </div>

  </div>

</form>

</div>



{% endblock %}