//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

figure {
    border: 1px solid #000;
}

.govuk-header__account {
    float: right;
}

.govuk-table__row--custom {
    padding: 0px;
}

.sort-pannel {
    box-shadow: inset 0 0 0 1px #b1b4b6;
    border-width: 1px;
    border-color: #b1b4b6;
    border-style: solid;
}

.sort-header {
    background-color: #b1b4b6;
    font-size: 0;
    padding: 10px 20px;
    text-align: justify;
}

.sort-options {
    background-color: #f3f2f1;
    padding: 20px;
}

.entry-container {
    max-width: 70ch;
}

#map-controls {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

