{% extends "app/views/layouts/hmlr-admin.html" %}
{% set currentPage="check" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is not a production service.'
}) }}

{{ govukBackLink({
text: "Back to jobs",
href: "/admin/check-status/jobs-list-mvp?alertType"
}) }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper">
    <div style="margin-bottom: 30px;"class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 style="display: inline;" class="govuk-heading-l">Assigned titles for {{ data['user'] }}: Job {{ data['jobID'] }}</h1>
                <div style="display: inline; vertical-align: text-bottom;" class="govuk-task-list__status" id="task-list-1-status">
                    <strong class="govuk-tag govuk-tag--grey">
                        Archived
                    </strong>
                </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "app/includes/titles/inc_sort-titles.html" %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "app/includes/titles/inc_title-table-mvp.html" %}
        </div>
    </div>
    </div>
</main>

{% endblock %}