{% extends "app/views/layouts/hmlr-admin.html" %}
{% set currentPage="check" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Confirm job to archive</h1>

<form class="form" action="/admin/check-status/jobs-list?alertType=archive-success" method="post">
  <div class="govuk-inset-text">
    <p>Job <strong>{{ data['jobID'] }}</strong> </p>
    <p>Annotator <strong>{{ data['job1-user'] or "1" }}</strong> </p>
  </div>


{{ govukButton({
text: "Archive"
}) }}

</form>

{% endblock %}