{% extends "app/views/layouts/hmlr-admin.html" %}
{% set currentPage="check" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "app/includes/alerts/inc_job-reassign-success.html" %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include "app/includes/jobs/inc_filters-panel.html" %}
        </div>
        <div class="govuk-grid-column-three-quarters">
            {% include "app/includes/jobs/inc_jobs-table.html" %}
        </div>
    </div>
</main>

{% endblock %}