{% extends "app/views/layouts/hmlr-admin.html" %}
{% set currentPage="check" %}

{% set AV178903Status="started" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% if data['jobID'] == '1' and data['alertType'] == 'archive-success' %}
{% set job1Archived = "yes" %}
{% endif %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "app/includes/alerts/inc_job-reassign-success.html" %}
            {% include "app/includes/alerts/inc_job-archive-success.html" %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include "app/includes/jobs/inc_sort-panel.html" %}
        </div>
        <div class="govuk-grid-column-three-quarters">
            {% include "app/includes/jobs/inc_jobs-table.html" %}
        </div>
    </div>
</main>

{% endblock %}