{% extends "app/views/layouts/hmlr-admin.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}Reassign Job – {{ serviceName }}{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to jobs",
href: "/admin/check-status/jobs-list-mvp"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Reassign {{ job.id }}</h1>

      {{ govukInsetText({
      html: '<p class="govuk-body">Annotator: <strong>' + annotators[job.annotatorIndex].text + '</strong></p>' +
      '<p class="govuk-body">Job type: <strong>' + job.type + '</strong></p>' +
      '<p class="govuk-body">Job status: <strong>' + job.status + '</strong></p>'
      }) }}

      <form class="form" action="/admin/check-status/reassign-job-mvp" method="post">

        <input type="hidden" name="jobID" value="{{ job.jobIdQuery }}">

        {% set radioItems = [] %}
        {% for person in annotators %}
        {% set radioItems = (radioItems.push({
        text: person.text,
        value: loop.index0,
        checked: person.text == annotators[job.annotatorIndex].text
        }), radioItems) %}
        {% endfor %}

        {{ govukRadios({
        name: 'newAnnotator',
        fieldset: {
        legend: {
        text: "Select the annotator to reassign to",
        classes: "govuk-fieldset__legend--m"
        }
        },
        items: radioItems
        }) }}

        {{ govukButton({
        text: "Reassign"
        }) }}

      </form>
    </div>
  </div>
</div>
{% endblock %}