{% extends "app/views/layouts/hmlr.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "app/includes/alerts/inc_assign-success.html" %}

    <h1 class="govuk-heading-l">Admin</h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <form class="form" action="/admin/assign-titles/upload-csv" method="post">

      <h2 class="govuk-heading-m">Upload and assign a job to an annotator</h2>

      <p class="govuk-body">You'll need to upload a CSV file containing the titles that you want to assign.</p>

      <p class="govuk-body">You can include titles that have already been assigned to another annotator.</p>

      {{ govukButton({
      text: "Upload and assign"
      }) }}

    </form>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Check the status of jobs and titles</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Check which jobs and titles are:
        <ul>
          <li>to do</li>
          <li>in progress</li>
          <li>completed</li>
        </ul>
      <li>Reassign a job to a different annotator</li>
      <li>Archive a job</li>
    </ul>

    {{ govukButton({
    text: "Check jobs status",
    href: "/admin/check-status/jobs-list-mvp"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </div>
</div>

{% endblock %}