{% extends "app/views/layouts/hmlr.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "app/includes/alerts/inc_assign-success.html" %}

    <h1 class="govuk-heading-l">Admin</h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <form class="form" action="/admin/assign-titles/upload-csv" method="post">

      <h2 class="govuk-heading-m">Upload and assign a job to an annotator</h2>

      <p class="govuk-body">You'll need to upload a CSV file containing the titles that you want to assign.</p>

      <p class="govuk-body">You can include titles that have already been assigned to another annotator.</p>

      {{ govukButton({
      text: "Upload and assign"
      }) }}

    </form>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Check the status of jobs and titles</h2>
    <p class="govuk-body">Check which jobs and titles are to do, in progress or complete and reassign to a different annotator.</p>


    {{ govukButton({
    text: "Check jobs status",
    href: "/admin/check-status/jobs-list"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Export annotation results</h2>
    <p class="govuk-body">To be confirmed - if the tool exports a file manually or writes somewhere</p>


    {{ govukButton({
    text: "Export annotations",
    disabled: true
    }) }}

  </div>
</div>

{% endblock %}