{% extends "app/views/layouts/hmlr-admin.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
Select an annotator – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is not a production service.'

}) }}

{% include "app/includes/inc_admin-nav-bar.html" %}

{{ govukBackLink({
text: "Back to upload a job",
href: "/admin/assign-titles/upload-csv"
}) }}

{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Assign job</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/admin/landing?alertType=success" method="post">

    {{ govukRadios({
    classes: "govuk-radios--small",
    name: "jobType",
    value: data['jobType'],
    fieldset: {
    legend: {
    text: "Job type",
    classes: "govuk-fieldset__legend--m"
    }
    },
    items: [
    {
    value: "Annotation",
    text: "Annotation"
    },
    {
    value: "Supervisor",
    text: "Supervisor"
    },
    {
    value: "QA",
    text: "Quality Assurance"
    }
    ]
    }) }}

    {{ xGovukAutocomplete({
    id: "select-annotator",
    name: "selectAnnotator",
    value: data['selectAnnotator'],
    allowEmpty: false,
    autoselect: true,
    showAllValues: true,
    label: {
    classes: "govuk-label--m",
    text: "Select an annotator to assign the job to"
    },
    items: [
    { value: "Annotator 1", text: "Annotator 1" },
    { value: "Annotator 2", text: "Annotator 2" },
    { value: "Annotator 3", text: "Annotator 3" },
    { value: "Annotator 4", text: "Annotator 4" },
    { value: "Annotator 5", text: "Annotator 5" },
    { value: "Annotator 6", text: "Annotator 6" },
    { value: "Annotator 7", text: "Annotator 7" },
    { value: "Annotator 8", text: "Annotator 8" },
    { value: "Annotator 9", text: "Annotator 9" },
    { value: "Annotator 10", text: "Annotator 10" },
    { value: "Annotator 11", text: "Annotator 11" },
    { value: "Annotator 12", text: "Annotator 12" },
    { value: "Annotator 13", text: "Annotator 13" },
    { value: "Annotator 14", text: "Annotator 14" },
    { value: "Annotator 15", text: "Annotator 15" },
    { value: "Annotator 16", text: "Annotator 16" },
    { value: "Annotator 17", text: "Annotator 17" },
    { value: "Annotator 18", text: "Annotator 18" },
    { value: "Annotator 19", text: "Annotator 19" },
    { value: "Annotator 20", text: "Annotator 20" },
    { value: "Annotator 21", text: "Annotator 21" },
    { value: "Annotator 22", text: "Annotator 22" },
    { value: "Annotator 23", text: "Annotator 23" },
    { value: "Annotator 24", text: "Annotator 24" },
    { value: "Annotator 25", text: "Annotator 25" },
    { value: "Annotator 26", text: "Annotator 26" },
    { value: "Annotator 27", text: "Annotator 27" },
    { value: "Annotator 28", text: "Annotator 28" },
    { value: "Annotator 29", text: "Annotator 29" },
    { value: "Annotator 30", text: "Annotator 30" },
    { value: "Annotator 31", text: "Annotator 31" },
    { value: "Annotator 32", text: "Annotator 32" },
    { value: "Annotator 33", text: "Annotator 33" },
    { value: "Annotator 34", text: "Annotator 34" },
    { value: "Annotator 35", text: "Annotator 35" },
    { value: "Annotator 36", text: "Annotator 36" },
    { value: "Annotator 37", text: "Annotator 37" },
    { value: "Annotator 38", text: "Annotator 38" },
    { value: "Annotator 39", text: "Annotator 39" },
    { value: "Annotator 40", text: "Annotator 40" },
    { value: "Annotator 41", text: "Annotator 41" },
    { value: "Annotator 42", text: "Annotator 42" },
    { value: "Annotator 43", text: "Annotator 43" },
    { value: "Annotator 44", text: "Annotator 44" },
    { value: "Annotator 45", text: "Annotator 45" },
    { value: "Annotator 46", text: "Annotator 46" },
    { value: "Annotator 47", text: "Annotator 47" },
    { value: "Annotator 48", text: "Annotator 48" },
    { value: "Annotator 49", text: "Annotator 49" },
    { value: "Annotator 50", text: "Annotator 50" },
    { value: "Annotator 51", text: "Annotator 51" },
    { value: "Annotator 52", text: "Annotator 52" },
    { value: "Annotator 53", text: "Annotator 53" },
    { value: "Annotator 54", text: "Annotator 54" },
    { value: "Annotator 55", text: "Annotator 55" },
    { value: "Annotator 56", text: "Annotator 56" },
    { value: "Annotator 57", text: "Annotator 57" },
    { value: "Annotator 58", text: "Annotator 58" },
    { value: "Annotator 59", text: "Annotator 59" },
    { value: "Annotator 60", text: "Annotator 60" },
    { value: "Annotator 61", text: "Annotator 61" },
    { value: "Annotator 62", text: "Annotator 62" },
    { value: "Annotator 63", text: "Annotator 63" },
    { value: "Annotator 64", text: "Annotator 64" },
    { value: "Annotator 65", text: "Annotator 65" },
    { value: "Annotator 66", text: "Annotator 66" },
    { value: "Annotator 67", text: "Annotator 67" },
    { value: "Annotator 68", text: "Annotator 68" },
    { value: "Annotator 69", text: "Annotator 69" },
    { value: "Annotator 70", text: "Annotator 70" },
    { value: "Annotator 71", text: "Annotator 71" },
    { value: "Annotator 72", text: "Annotator 72" },
    { value: "Annotator 73", text: "Annotator 73" },
    { value: "Annotator 74", text: "Annotator 74" },
    { value: "Annotator 75", text: "Annotator 75" },
    { value: "Annotator 76", text: "Annotator 76" },
    { value: "Annotator 77", text: "Annotator 77" },
    { value: "Annotator 78", text: "Annotator 78" },
    { value: "Annotator 79", text: "Annotator 79" },
    { value: "Annotator 80", text: "Annotator 80" },
    { value: "Annotator 81", text: "Annotator 81" },
    { value: "Annotator 82", text: "Annotator 82" },
    { value: "Annotator 83", text: "Annotator 83" },
    { value: "Annotator 84", text: "Annotator 84" },
    { value: "Annotator 85", text: "Annotator 85" },
    { value: "Annotator 86", text: "Annotator 86" },
    { value: "Annotator 87", text: "Annotator 87" },
    { value: "Annotator 88", text: "Annotator 88" },
    { value: "Annotator 89", text: "Annotator 89" },
    { value: "Annotator 90", text: "Annotator 90" },
    { value: "Annotator 91", text: "Annotator 91" },
    { value: "Annotator 92", text: "Annotator 92" },
    { value: "Annotator 93", text: "Annotator 93" },
    { value: "Annotator 94", text: "Annotator 94" },
    { value: "Annotator 95", text: "Annotator 95" },
    { value: "Annotator 96", text: "Annotator 96" },
    { value: "Annotator 97", text: "Annotator 97" },
    { value: "Annotator 98", text: "Annotator 98" },
    { value: "Annotator 99", text: "Annotator 99" }
    ]
    }) }}

    {{ govukButton({
    text: "Assign job"
    }) }}

    {% set assignDate= "today" %}

    </form>

  </div>
</div>

{% endblock %}