{% extends "app/views/layouts/hmlr.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <form class="form" action="/admin/landing?assignSuccess=yes" method="post">
  
  {{ govukRadios({
    classes: "govuk-radios--small",
    name: "selectAnnotator",
    value: data['selectAnnotator'],
    fieldset: {
      legend: {
        text: "Select the Annotator to assign job to",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "user1",
        text: "Annotator 1"
      },
      {
        value: "user2",
        text: "Annotator 2"
      },
      {
        value: "user3",
        text: "Annotator 3"
      },
      {
        value: "user4",
        text: "Annotator 4"
      },
      {
        value: "user5",
        text: "Annotator 5"
      },
      {
        value: "user6",
        text: "Annotator 6"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Assign job"
  }) }}

</form>

{% endblock %}
