<!--
//
// This page is currently not used 
// 
-->

{% extends "app/views/layouts/hmlr-admin.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text">
          Assigning titles to: <strong>{{ data['selectAnnotator'] }}</strong>
        </div>

        <form class="form" action="/admin/assign-titles/confirm" method="post">

          <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all"
            data-multi-select-idprefix="titles-">
            <caption class="govuk-table__caption govuk-table__caption--m">Select titles to assign</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row ">
                <th class="govuk-table__header" scope="col" id="select-all"></th>
                <th class="govuk-table__header" scope="col">Title</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row govuk-table__row--selected">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-KP92143" value="KP92143"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-KP92143">
                      <span class="govuk-visually-hidden">Select KP92143</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell">KP92143</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-QR84291" value="QR84291"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-QR84291">
                      <span class="govuk-visually-hidden">Select QR84291</span>
                    </label>
                  </div>
                </td>
                </td>
                <td class="govuk-table__cell">QR84291</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-TM65087" value="TM65087"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-TM65087">
                      <span class="govuk-visually-hidden">Select TM65087</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell">TM65087</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-WX41629" value="WX41629"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-WX41629">
                      <span class="govuk-visually-hidden">Select WX41629</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell">WX41629</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-BN78354" value="BN78354"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-BN78354">
                      <span class="govuk-visually-hidden">Select BN78354</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell">BN78354</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-YE37261" value="YE37261"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-YE37261">
                      <span class="govuk-visually-hidden">Select YE37261</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell">YE37261</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-FH36758" value="FH36758"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-FH36758">
                      <span class="govuk-visually-hidden">Select FH36758</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell">FH36758</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="title-LV95472" value="LV95472"
                      name="titles">
                    <label class="govuk-label govuk-checkboxes__label" for="title-LV95472">
                      <span class="govuk-visually-hidden">Select LV95472</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell">LV95472</td>
              </tr>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" id="title-C233FNH" value="C233FNH"
                    name="titles">
                  <label class="govuk-label govuk-checkboxes__label" for="title-C233FNH">
                    <span class="govuk-visually-hidden">Select C233FNH</span>
                  </label>
                </div>
              </td>
              <td class="govuk-table__cell">C233FNH</td>
              </tr>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" id="title-DJ54780" value="DJ54780"
                    name="titles">
                  <label class="govuk-label govuk-checkboxes__label" for="title-DJ54780">
                    <span class="govuk-visually-hidden">Select DJ54780</span>
                  </label>
                </div>
              </td>
              <td class="govuk-table__cell">DJ54780</td>
              </tr>
              </tr>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" id="title-GS23916" value="GS23916"
                    name="titles">
                  <label class="govuk-label govuk-checkboxes__label" for="title-GS23916">
                    <span class="govuk-visually-hidden">Select GS23916</span>
                  </label>
                </div>
              </td>
              <td class="govuk-table__cell">GS23916</td>
              </tr>
            </tbody>
          </table>

          {{ govukButton({
          text: "Continue"
          }) }}

        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}