{% extends "app/views/layouts/hmlr-admin.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Select an annotator – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is not a production service.'

}) }}

{% include "app/includes/inc_admin-nav-bar.html" %}

{{ govukBackLink({
  text: "Back to upload a job",
  href: "/admin/assign-titles/upload-csv"
}) }}

{% endblock %}

{% block content %}

  <form class="form" action="/admin/landing?alertType=success" method="post">
  
  {{ govukRadios({
    classes: "govuk-radios--small",
    name: "selectAnnotator",
    value: data['selectAnnotator'],
    fieldset: {
      legend: {
        text: "Select an annotator to assign the job to",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Annotator 1",
        text: "Annotator 1"
      },
      {
        value: "Annotator 2",
        text: "Annotator 2"
      },
      {
        value: "Annotator 3",
        text: "Annotator 3"
      },
      {
        value: "Annotator 4",
        text: "Annotator 4"
      },
      {
        value: "Annotator 5",
        text: "Annotator 5"
      },
      {
        value: "Annotator 6",
        text: "Annotator 6"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Assign job"
  }) }}

  {% set assignDate= "today" %}
  <p>

</p>



</form>

{% endblock %}
