{% extends "app/views/layouts/hmlr-admin.html" %}

{% set currentPage="upload" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukPhaseBanner({
  tag: {
  text: "Prototype"
  },
  html: 'This is not a production service.'
  }) }}

{{ govukBackLink({
  text: "Back to admin",
  href: "/admin/landing?alertType"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Upload a job</h1>

<form class="form" action="/admin/assign-titles/assign-job" method="post">

  <p class="govuk-body">Upload a CSV file with a list of title IDs. The titles must be in one column starting with cell A1.</p>

  <p class="govuk-body">Title IDs must be either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>up to 3 letters followed by up to 6 numbers</li>
    <li>up to 3 letters followed by 4 numbers and the letter ‘z’</li>
  </ul>

  <p class="govuk-body">For example, KP92143 or AV123Z.</p>

  {{ govukFileUpload({
    id: "file-upload-1",
    name: "fileUpload1",
    label: {
      text: "Upload a file"
    }
  }) }}


{{ govukButton({
  text: "Continue"
}) }}

</form>

{% endblock %}