{% extends "app/views/layouts/hmlr-signed-in.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
Assignments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="/annotators/assignments/AV57267/entry-1/extent-2?AV57267Status=started" method="post">

  <h1 class="govuk-heading-l">AV57267</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Extent 1 of 6</h2>
      {% include "app/includes/extents/AV57267/inc_AV57267-tinted brown.html" %}
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Entry 1 of 4</h2>

      {% include "app/includes/entries/AV57267/inc_AV57267-entry-1.html" %}

      {% include "app/includes/annotators/entry-extent-match-radios.html" %}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">

        <a class="govuk-link" href="javascript:window.history.back()">Back</a>

        {{ govukButton({
        text: "Next extent",
        position: absolute,
        bottom: 0,
        right: 0
        }) }}

      </div>

    </div>

  </div>

</form>

</div>



{% endblock %}