{% extends "app/views/layouts/hmlr-signed-in.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
Assignments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="/annotators/assignments/AV57267/entry-3/extent-5" method="post">

  <h1 class="govuk-heading-l">AV57267</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Extent 4 of 6</h2>
      {% include "app/includes/extents/AV57267/inc_AV57267-blue-1.html" %}
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Entry 3 of 4</h2>

      {% include "app/includes/entries/AV57267/inc_AV57267-entry-3.html" %}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set otherHtml %}
      {{ govukInput({
      id: "other",
      name: "other",
      classes: "govuk-!-width-one-third",
      label: {
      text: "More detail"
      }
      }) }}
      {% endset -%}

      {{ govukRadios({
      classes: "govuk-radios--small",
      name: "defineRelationship",
      fieldset: {
      legend: {
      text: "Type of relationship",
      classes: "govuk-fieldset__legend--m"
      }
      },
      items: [
      {
      value: "link",
      text: "The extent and entry are linked"
      },
      {
      value: "no-link",
      text: "The extent and entry are not linked"
      },
      {
      value: "other",
      text: "Other",
      hint: {
      text: "For example, 'the house tinted brown benefits from the blue polygon'"
      },
      conditional: {
      html: otherHtml
      }
      }
      ]
      }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">

      <a class="govuk-link" href="javascript:window.history.back()">Back</a>

      {{ govukButton({
      text: "Next extent",
      position: absolute,
      bottom: 0,
      right: 0
      }) }}

    </div>

    </div>

  </div>

</form>

</div>



{% endblock %}