<table id="dataTitleTable" class="govuk-table govuk-table--small-text-until-tablet">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Title ID</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV59722</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV59722-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV57267</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV57267-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV252005</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV252005-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV23084</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV23084-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV225733</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV225733-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV178903</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV178903-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV17272</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV17272-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV172146</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV172146-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV148282</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV148282-status.html" %}
      </td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AV148282</td>

      <td class="govuk-table__cell">
        {% include "app/includes/status-tags/inc_AV148282-status.html" %}
      </td>

    </tr>

  </tbody>
</table>