{% extends "app/views/layouts/hmlr-success.html" %}

{% block pageTitle %}
Assignments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="/" method="post">

  <h1 class="govuk-heading-l">Success</h1>

{% from "govuk/components/panel/macro.njk" import govukPanel %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Success",
        html: "Title <strong>AV57267</strong> has been submitted"
      }) }}

      <p class="govuk-body">
        <a href="/annotators/assignments?AV57267Status=complete" class="govuk-link">Back to your Jobs</a>.
      </p>

  {% endblock %}