{% extends "app/views/layouts/your-jobs.html" %}

{% block pageTitle %}
Assignments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "app/includes/alerts/inc_title-complete.html" %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Welcome [Full name]</span>
      Work list
    </h1>
    <h2 class="govuk-heading-m">Job 1</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/annotators/v2-1/titles/AV57267/entries-task-list">
            AV57267
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV57267-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/annotators/v2-1/titles/AV17272/entries-task-list" aria-describedby="task-list-1-status">
            AV17272
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV17272-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV59722
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV59722-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV252005
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV252005-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV23084
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV23084-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV225733
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV225733-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV129010
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV129010-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV172146
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV172146-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV118735
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV118735-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV148282
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV148282-status.html" %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-1-status">
            AV178903
          </a>
        </div>
        {% include "app/includes/status-tags/inc_AV178903-status.html" %}
      </li>

    </ul>
    <h2 class="govuk-heading-m">Job 2</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="">
            AV96428
          </a>
        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
      </li>
    </ul>
  </div>
</div>



{% endblock %}