<table id="dataTable" class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Job ID</th>
            <th scope="col" class="govuk-table__header">Job type</th>
            <th scope="col" class="govuk-table__header">Annotator</th>
            <th scope="col" class="govuk-table__header">Assigned on</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {# Loop through each 'job' in the 'jobs' array passed from routes.js #}
        {% for job in jobs %}
        {% if job.status !== 'Archived' %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <a href="/admin/check-status/titles-list-mvp?jobID={{ job.jobIdQuery }}" class="govuk-link">{{ job.id
                    }}</a>
            </td>
            <td class="govuk-table__cell">
                {{ job.type }}
            </td>
            <td class="govuk-table__cell">
                {{ annotators[job.annotatorIndex].text }}
            </td>
            <td class="govuk-table__cell">
                {{ job.assignedOn }}
            </td>
            <td class="govuk-table__cell">
                {% if job.status == 'In progress' %}
                <strong class="govuk-tag govuk-tag--yellow">
                    In progress
                </strong>
                {% elseif job.status == 'Submitted' %}
                Submitted
                {% else %}
                <strong class="govuk-tag govuk-tag--blue">
                    To do
                </strong>
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    {% if job.status !== 'Submitted' %}
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link"
                            href="/admin/check-status/reassign-job-mvp?jobID={{ job.jobIdQuery }}">Reassign</a>
                    </li>
                    {% endif %}
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link"
                            href="/admin/check-status/confirm-archive-mvp?jobID={{ job.jobIdQuery }}">Archive</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>