<table class="govuk-table" id="dataTable">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Job ID</th>
            <th scope="col" class="govuk-table__header">Job type</th>
            <th scope="col" class="govuk-table__header">Annotator</th>
            <th scope="col" class="govuk-table__header">Assigned on</th>
            <th scope="col" class="govuk-table__header">Status</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        {% for job in archivedJobs %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="/admin/check-status/archived-titles-list-mvp?jobID={{ job.jobIdQuery }}&user={{ annotators[job.annotatorIndex].text | urlencode }}">{{
                    job.id }}</a>
            </td>
            <td class="govuk-table__cell">
                {{ job.type }}
            </td>
            <td class="govuk-table__cell">
                {{ annotators[job.annotatorIndex].text }}
            </td>
            <td class="govuk-table__cell">
                {{ job.assignedOn }}
            </td>
            <td class="govuk-table__cell">
                {% if job.originalStatus == 'In progress' %}
                <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
                {% elseif job.originalStatus == 'Submitted' %}
                Submitted
                {% else %}
                <strong class="govuk-tag govuk-tag--blue">To do</strong>
                {% endif %}
                <strong class="govuk-tag govuk-tag--grey">Archived</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>