<table id="dataTable" class="govuk-table govuk-table--small-text-until-tablet">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Job ID</th>
            <th scope="col" class="govuk-table__header">Annotator</th>
            <th scope="col" class="govuk-table__header">Assigned on</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% if job1Archived == 'yes' %}
        <tr class="govuk-table__row">
            </tr>
        {% else %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <a href="/admin/check-status/titles-list?jobID=1&user=Annotator%201" class="govuk-link">Job 1</a>
            </td>
            <td class="govuk-table__cell" id="job1-user">
                {{ data['AV59722-user'] or "Annotator 1" }}
            </td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 1 and data['alertType'] == 'reassign-success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                10 Febraury at 9:45am
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_job1-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="/admin/check-status/reassign-job?jobID=1">Reassign</a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="/admin/check-status/confirm-archive-mvp?jobID=1">Archive</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endif %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 9
            </td>
            <td class="govuk-table__cell">Annotator 2</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 9 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                10 Febraury at 9:45am
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV57267-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 2
            </td>
            <td class="govuk-table__cell">Annotator 4</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 4 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                10 Febraury at 9:45am
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV17272-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 3
            </td>
            <td class="govuk-table__cell">Annotator 5</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 3 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                10 Febraury at 9:45am
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV225733-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 4
            </td>
            <td class="govuk-table__cell">Annotator 6</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 4 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                10 Febraury at 9:45am
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV178903-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 5
            </td>
            <td class="govuk-table__cell">Annotator 1</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 5 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                10 Febraury at 9:45am
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV17272-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 6
            </td>
            <td class="govuk-table__cell">Annotator 2</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 5 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                13 Febraury at 4:27pm
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV172146-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 7
            </td>
            <td class="govuk-table__cell">Annotator 4</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 7 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                13 Febraury at 4:27pm
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV148282-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Job 8
            </td>
            <td class="govuk-table__cell">Annotator 5</td>
            <td class="govuk-table__cell">
                {% if data['jobID'] == 8 and data['jobReassignType'] == 'success' %}
                {{ "now" | govukDateTime }}
                {% else %}
                13 Febraury at 4:27pm
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {% include "app/includes/status-tags/inc_AV148282-status.html" %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        Reassign</span>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        Archive</span>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>