{% extends "layouts/design-history.html" %}

{% set pageName="Design history" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <p class="govuk-body">
      This page documents the interaction and product design history.
    </p>

    <p class="govuk-body">
      <a href="/design-history/prototype-set-up" class="govuk-link">Prototype set up</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/understanding-context-and-user-needs" class="govuk-link">Understanding context and user needs</a>
    </p>

    <h2 class="govuk-heading-s">
      First pass design for annotators
    </h2>

    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="/design-history/first-pass-annotation-view" class="govuk-link">Annotation view</a></li>
      <li><a href="/design-history/first-pass-annotation-flow" class="govuk-link">Annotation flow</a></li>
    </ul>

    <h2 class="govuk-heading-s">
      First pass design for admin
    </h2>

    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="/design-history/upload-and-assign" class="govuk-link">Upload and assign</a></li>
      <li><a href="/design-history/check-the-status-of-jobs-and-titles" class="govuk-link">Check the status of jobs and titles</a></li>
      <li><a href="/design-history/archive-a-job" class="govuk-link">Archive a job</a></li>
      <li><a href="/design-history/reassign-a-job" class="govuk-link">Reassign a job</a></li>
    </ul>

    <p class="govuk-body">
      <a href="/design-history/mvp-jobs-table" class="govuk-link">MVP jobs table</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/multiple-jobs" class="govuk-link">View of multiple jobs</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/refining-annotation-view" class="govuk-link">Refining the annotation view</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/refining-annotation-flow" class="govuk-link">Refining the annotation flow</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/os-maps-and-geospatial-extents-ui" class="govuk-link">OS maps and geospatial extents UI</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/understanding-more-about-the-annotation-flow" class="govuk-link">Understanding more about the annotation flow</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span><strong class="govuk-tag govuk-tag--yellow">User test</strong></span>
    </p>

    <p class="govuk-body">
      <a href="/design-history/defining-other-more-clearly" class="govuk-link">Defining other relationships more clearly</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/exploring-adding-property-description" class="govuk-link">Exploring adding the property description</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/refine-admin-tables" class="govuk-link">Refining admin tables</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/showing-latest-versions" class="govuk-link">Showing the latest version of extents and entries </a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/routes-landing-pages" class="govuk-link">Routes and landing pages</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/redirect-archived-reassigned" class="govuk-link">Redirect an annotator if their job is archived or reassigned</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/job-validation" class="govuk-link">Validating a job file</a>
    </p>

  </div>
</div>

{% endblock %}