{% extends "layouts/design-history.html" %}

{% set pageName="Design history" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <p class="govuk-body">
      This page documents the interaction and product design history.
    </p>

    <h2 class="govuk-heading-m">
      Pre Sprint 1
    </h2>

    <p class="govuk-body">
      <a href="/design-history/prototype-set-up" class="govuk-link">Prototype set up</a>
    </p>

    <p class="govuk-body">
      <a href="/design-history/understanding-context-and-user-needs" class="govuk-link">Understanding context and user needs</a>
    </p>

    <h3 class="govuk-heading-s">
      First pass design for annotators
    </h3>

    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="/design-history/first-pass-design-for-annotators" class="govuk-link">Annotation view and annotation flow</a></li>
    </ul>

    <h3 class="govuk-heading-s">
      First pass design for admin
    </h3>

    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="/design-history/upload-and-assign" class="govuk-link">Upload and assign</a></li>
      <li><a href="/design-history/check-the-status-of-jobs-and-titles" class="govuk-link">Check the status of jobs and titles</a></li>
      <li><a href="/design-history/archive-a-job" class="govuk-link">Archive a job</a></li>
      <li><a href="/design-history/reassign-a-job" class="govuk-link">Reassign a job</a></li>
    </ul>

    <h2 class="govuk-heading-m">
      Sprint 1
    </h2>

    <p class="govuk-body">
      <a href="/design-history/mvp-jobs-table" class="govuk-link">MVP jobs table</a>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">View of multiple jobs</a>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Refining the annotation view</a>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Refining the annotation flow</a>
    </p>

    <h2 class="govuk-heading-m">
      Sprint 2
    </h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link">OS maps and geospatial extents UI</a>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Understanding more about the annmotation flow</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span><strong class="govuk-tag govuk-tag--yellow">User test</strong></span>
    </p>

    <h2 class="govuk-heading-m">
      Sprint 3
    </h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Defining other relationships more clearly</a>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Exploring adding the property description</a>
    </p>

  </div>
</div>

{% endblock %}