{% extends "layouts/hmlr-index.html" %}

{% set pageName="Prototype index" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <p class="govuk-body">
      This page lists the main user journeys that have been prototyped.
    </p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/test">HMLR frontend test page</a>
      </li>
      <li>
    </ul>

    <h2 class="govuk-heading-m">
      Admin
    </h2>

    {{ govukButton({
    text: "Start",
    href: "admin/sign-in",
    isStartButton: true
    }) }}

    <h3 class="govuk-heading-s">
      Jump to
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="admin/sign-in">Sign in</a>
      </li>
      <li>
        <a class="govuk-link" href="admin/assign-titles/upload-csv">Upload and assign a job</a>
      </li>
      <li>
        <a class="govuk-link" href="admin/check-status/jobs-list">Check the status of jobs and titles and reassign a job</a>
      </li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-heading-s">
          Sprint 1 MVP
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          Version of the Admin jobs list view that uses only gov.uk design system components:
          <ul class="govuk-list govuk-list--bullet">
            <li>standard table instead of the MOJ table with sortable columns</li>
            <li>select input to apply a sort action</li>
          </ul> 
        </p>
    
        {{ govukButton({
          text: "Jobs table",
          href: "admin/check-status/jobs-list-mvp"
          }) }}
      </div>
    </details>

    <h2 class="govuk-heading-m">
      Annotators
    </h2>

    {{ govukButton({
    text: "Start",
    href: "annotators/sign-in",
    isStartButton: true
    }) }}

    <h3 class="govuk-heading-s">
      Jump to
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/annotators/sign-in">Sign in</a>
      </li>
      <li>
        <a class="govuk-link" href="/annotators/assignments">Jobs</a>
      </li>
      <li>
        <a class="govuk-link" href="/annotators/assignments/AV57267/entry-1/extent-1">An extent page</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      OS Maps API 
    </h2>


    <p class="govuk-body">
      Test space for using the OS Maps API with:
      <ul class="govuk-list govuk-list--bullet">
        <li>extents from GeoJSON rendered over a base map</li>
        <li>cycle through different extents</li>
        <li>custom properties applied based on user research from wider HMLR maps work (zoom level, controls, transparency) </li>
      </ul> 
    </p>

    {{ govukButton({
      text: "Test",
      href: "maps/geospatial"
      }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body-s">
      <a href="/manage-prototype" class="govuk-link">Manage your prototype</a>.
    </p>

  </div>
</div>

{% endblock %}