{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "hmlr/components/footer/macro.njk" import hmlrFooter %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block headIcons %}
<link rel="shortcut icon" href="/public/images/hmlr-favicon.ico" type="image/x-icon" />
{% endblock %}

{% block header %}
<header class="govuk-header govuk-header--hmlr " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__content govuk-header__content--hmlr">
            <a href="/index" class="govuk-header__link govuk-header__service-name">
                {{ serviceName }}
            </a>
            <!---
            &nbsp;
            <span class="govuk-header__product-name">
                Product name
            </span>
            --->
        </div>
    </div>
</header>
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is not a production service.'
}) }}

{{ govukServiceNavigation({
    navigation: [
      {
        href: "/index",
        text: "Prototype index"
      },
      {
        href: "/design-history",
        text: "Design history",
        active: true
      }
    ]
  }) }}

{% endblock %}

{% block footer %}
{{ hmlrFooter() }}
{% endblock %}